<ion-view align-title="center" animation="slide-right-left">
<ion-content scroll="true" class="has-footer contactcontainer">
<div class="creditParainage">
	<button class="button button-outline button-light width100 btn_credit"
		nav-direction="forward" ui-sref="app.creditParrainage" menu-close>
		{{ 'ContactList.Parrainage' | translate }} : <span><u>{{creditParrainage
				}} &euro;</u></span>
	</button>
</div>
<div class="buzcard-content">
	<p class="para">{{ 'Parrainage.P1' | translate }}</p>

	<p class="para">
		{{ 'Parrainage.P2' | translate }}<br> <br>
	</p>

	<p class="para">
		{{ 'Parrainage.P3' | translate }}<br> <br>
	</p>
	<p class="para">
		<u>{{ 'Parrainage.P4' | translate }}</u><br> <br> <b>1-</b>
		{{ 'Parrainage.P5' | translate }}<br> <br> <b>2-</b>{{
		'Parrainage.P6' | translate }} <br> <br>
	</p>
	<p class="para">{{ 'Parrainage.P7' | translate }}</p>

	<p class="para">{{ 'Parrainage.P8' | translate }}</p>

	<p class="para">{{ 'Parrainage.P9' | translate }}</p>

	<p class="para">{{ 'Parrainage.P10' | translate }}</p>
	<br/>
	<br/>
	<br/>
	<div class="parrainage-back-center">
		<a class="left parrainage-back-link" nav-direction="back" ui-sref="app.contactList"
			menu-close>{{ 'Parrainage.back' | translate }}</a>
	</div>
</div>
<br>
<br>
</ion-content> </ion-view>