.header-contactInfo{
	background:#FFF !important;
	height: 220px;
	margin-top:8px;
}.header-contactInfo .slider-pager{
	display:block;
}.header-contactInfo .slider-pager .slider-pager-page{
	color: #FFF;

}.left-slide{
	float:left;
	width:10%;
	margin-top:-45%;
	z-index:9999999;
}.right-slider{
	float:right;
	width:10%;
	margin-top:-45%;
	z-index:999999;
}.center-slider{
	width: 100%;
    margin: 0 auto;
    height: 220px;
    padding-top: 10px;

}.photo-slider{
       float: none;
    margin: 0px auto;
    display: block;
    padding: 5px 5px 2px 5px;
    /* box-sizing: border-box; */
    max-width: 340px !important;
    margin-bottom: 3px;
    height: 200px;
    overflow: hidden;

}
